*/slurm*
Makefile
*__pycache__/
.nfs*
*.out
*.err
*.cb
*.cb2
*blx.bib
*.aux
*.bcf
*.log
*.pdf
*.run.xml
*.synctex.gz
*.bbl
*.blg
*.out
*.fdb_latexmk
*.fls
**/.auctex-auto/
**/.DS_Store
hpc_paper/test*.tex
